@(user: models.User)

@index("Home Page") {
    <div class="container main-content">

        <div class="col col-md-4">
            <div class="profile-container">

                <div class="profile-image img-rounded" style="background-image: url('@routes.Assets.at("img/user_profile.jpg")')">
                </div>
                <div class="profile-name">
                    @user.getFullName()
                </div>
                <div class="profile-username">
                    @user.getUserName()
                </div>

                <div class="profile-affiliation">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    Asgard
                </div>
                <div class="profile-interest">
                    <span class="glyphicon glyphicon-book"></span>
                    Thunder
                </div>
                <div class="profile-email">
                    <span class="glyphicon glyphicon-envelope"></span>
                    loki&#64;example.com
                </div>
                <div class="profile-phone">
                    <span class="glyphicon glyphicon-phone"></span>
                    999-999-9999
                </div>
            </div>


        </div>



        <div class="col col-md-8 content-container">

        </div>

    </div>
}