@(user: models.User, postForm: play.data.Form[models.Post], posts: java.util.ArrayList[Post])
@import helper._
@import sns._

@header = {
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li @if(requestHeader.uri == routes.MainController.home.url){ class="active" }>
                        <a href="@routes.MainController.home()">Home</a>
                    </li>
                    <li @if(requestHeader.uri == routes.MainController.main.url){ class="active" }>
                        <a href="@routes.MainController.main()">Main</a>
                    </li>
                </ul>

                <div class="col-sm-3 col-md-3 pull-left">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="nav navbar-right">
                    <button type="button" class="btn btn-default navbar-btn buttonLow" data-toggle="modal" data-target="#newPostModal">
                        <span class="glyphicon glyphicon-edit"></span>
                        Post
                    </button>

                    @if(!session.get("userName")) {
                    <form class="navbar-form navbar-right" action="@routes.Application.login()">
                        <button type="submit" class="btn btn-default navbar-btn pull-right">Log in</button>
                    </form>
                    } else {
                    <form class="navbar-form navbar-right" action="@routes.Application.logout()">
                        <button type="submit" class="btn btn-default navbar-btn pull-right">Log out</button>
                    </form>
                    }
                </div>

            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                    data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        New Post
                    </h4>
                </div>

                    <!-- Modal Body -->
                @helper.form(action = routes.PostController.newPost) {
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">

                                <div class="col-sm-10">
                                    <input type="text" class="form-control"
                                    id="post-input" name="content" value='@postForm("content").value' placeholder="What's happending"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @*<div class="checkbox">*@
                                        @*<label>*@
                                            @*<input type="checkbox" name="visibility" value='@postForm("visibility")'/> Private*@
                                        @*</label>*@
                                    @*</div>*@
                                    <label for="">
                                        <input type="checkbox"
                                        name="@postForm("visibility").name"
                                        value="true"
                                            @if(postForm("visibility").valueOr("false") == "true"){checked="checked"}> Private
                                    </label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Post
                            </button>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
}

@index("Home Page")(header) {
    <div class="container main-content">

        <div class="col col-md-4">
            <div class="profile-container">

                <div class="profile-image img-rounded" style="background-image: url('http://localhost:9034/users/getPhoto/@session.get("userId")')">
                </div>
                <div class="profile-username">
                    @user.getUserName
                </div>

                <div class="profile-affiliation">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    @user.getAffiliation
                </div>
                <div class="profile-interest">
                    <span class="glyphicon glyphicon-book"></span>
                    @user.getResearchInterests
                </div>
                <div class="profile-email">
                    <span class="glyphicon glyphicon-envelope"></span>
                    @user.getEmail
                </div>
                <div class="profile-phone">
                    <span class="glyphicon glyphicon-phone"></span>
                    @user.getPhoneNumber
                </div>
            </div>
        </div>

        <div class="col col-md-8 content-container">
            <div class="wrap">
                <div class="row">
                    <!--- Content -->
                    <div class="three-fourth content">
                        <div class="comments">
                            <ol class="comment-list">
                                @for(post <- posts){
                                <li class="comment depth-1">
                                    <div class="avatar"><a href="#"><img src="http://avatarbox.net/avatars/img32/ned_flanders_avatar_picture_23953.gif" alt="" /></a></div>
                                    <div class="comment-box">
                                        <div class="comment-author meta">
                                            <strong>Tony</strong>@post.getTime<a href="#" class="btn small color"> Reply</a>
                                        </div>
                                        <div class="comment-text">
                                            <p>@post.getContent</p>
                                        </div>
                                    </div>
                                </li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
        </div>

    </div>
}

