@(user: models.User)
@import helper._
@index("Main Page") {

    <div class="container main-content">

        <input type="hidden" id="hiddenSession" value="@session.get("userId")">

        <div class="col col-md-4">
            <div class="profile-container">

                <div class="profile-image img-rounded" style="background-image: url('http://localhost:9034/users/getPhoto/@session.get("userId")')">
                </div>
                <div class="profile-name">
                    @user.getUserName()
                    <span class="glyphicon glyphicon-edit" id="edit_btn"></span>
                </div>

                <div class="profile-affiliation">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    @user.getAffiliation()
                </div>
                <div class="profile-interest">
                    <span class="glyphicon glyphicon-book"></span>
                    @user.getResearchInterests()
                </div>
                <div class="profile-email">
                    <span class="glyphicon glyphicon-envelope"></span>
                    @user.getEmail()
                </div>
                <div class="profile-phone">
                    <span class="glyphicon glyphicon-phone"></span>
                    @user.getPhoneNumber()
                </div>
            </div>



            <div class="profile-edit-container">
                <form id="profile-image-form" method="post"
                action=@routes.UserController.uploadImage
                enctype="multipart/form-data">
                    <div class="image-edit-container form-group">
                        <div class="profile-image img-rounded" style="background-image: url('http://localhost:9034/users/getPhoto/@session.get("userId")')">
                        </div>
                        <div class="overlay"></div>
                        <div class="image-upload-container">
                            <button id="image-btn" onclick="getFile()" type="button">
                                <span class="glyphicon glyphicon-camera"></span>
                                Change your profile image
                            </button>
                        </div>
                        <div style='height: 0px;width: 0px; overflow:hidden;'>
                            <input id="upfile" name="photo" type="file" value="upload" onchange="sub(this)"/>
                        </div>
                    </div>
                </form>

                    <form id="profile-form" method="post">
                        <div class="profile-name form-group">
                            <input type="text" name="userName" value="@user.getUserName()" placeholder="name"/>
                        </div>

                        <div class="profile-affiliation form-group">
                            <input type="text" name="affiliation" value="@user.getAffiliation()" placeholder="affiliation"/>
                        </div>
                        <div class="profile-interest form-group">
                            <input type="text" name="researchInterests" value="@user.getResearchInterests()" placeholder="interest"/>
                        </div>
                        <div class="profile-email form-group">
                            <input type="email" name="email" value="@user.getEmail()" placeholder="email"/>
                        </div>
                        <div class="profile-phone form-group">
                            <input type="tel" name="phoneNumber" value="@user.getPhoneNumber()" placeholder="phone number"/>
                        </div>
                        <button id="save-profile" class="btn btn-primary" type="button">
                            Submit
                        </button>
                        <button class="btn btn-default">Cancel</button>
                    </form>

            </div>



        </div>



        <div class="col col-md-8 content-container">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a  href="#timeline" data-toggle="tab">TimeLine</a>
                </li>
                <li>
                    <a  href="#following" data-toggle="tab">Following</a>
                </li>
                <li>
                    <a  href="#followers" data-toggle="tab">Followers</a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="timeline">
                    <h3>Content's background color is the same for the tab</h3>
                </div>
                <div class="tab-pane" id="following">
                    <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
                </div>
                <div class="tab-pane" id="followers">
                    <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
                </div>
            </div>
        </div>

    </div>


}