.main-content {
    padding: 0 5%;
}

.profile-container {
    border: 1px solid #55ACEE;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.profile-username {
    font-size: 20px;
}

.profile-image {
    display: inline-block;
    width: 280px;
    height: 280px;
    background-position: center center;
    background-size: cover;
}

.profile-edit-container {
    display: none;
    border: 1px solid #55ACEE;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.image-edit-container {
    position: relative;
    width: 280px;
    height: 280px;
}

.overlay-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

.image-upload-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    padding: 0px 15px 0 15px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.75);
}

#image-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    width: 100%;
    height: 100%;
}

#image-btn span {
    display: block;
    font-size: 55px;
}

.post-footer {
    display:none;
}

span.glyphicon.glyphicon-plus.follow-btn {
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

.img-circle.avatar.front-layer-image {
    background-image: url("http://localhost:9034/users/getFrontLayerPhoto/France");
    position: absolute;
    top: -60px;
    left: 0;
    opacity: 0.5;
    background-size: cover;
}

.profile-image.img-rounded.front-layer-image {
    background-image: url("http://localhost:9034/users/getFrontLayerPhoto/France");
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.5;
    background-size: cover;
}

